@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #18181b;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-serif: var(--font-inter-tight);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #18181b;
        --foreground: #ededed;
    }
}

* {
    @apply focus:outline-none;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter-tight), Arial, Helvetica, sans-serif;

    @apply text-base underline-offset-3;
}

h1,
h2,
h3 {
    font-family: var(--font-inter-tight), serif;
}

/* Hide scrollbars globally (major browsers) */

/* Firefox */
* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ and Edge */
}

/* WebKit-based browsers (Chrome, Safari, Opera) */
*::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

button {
    @apply cursor-pointer!;
}
